.home {
  height: 100vh;
  background-color: lightblue;
  background-image: url("https://images.unsplash.com/photo-1586773860418-d37222d8fce3");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;
  padding-top: 100px;
}
